<div class="inner">
    <!--Static Banner-->
    <section class="static-banner container">
        <div class="slide">
            <div class="col-md-7 pull-center"><img src="../img/eb/overview.png" class="img-responsive" /></div>
            <div class="col-md-5 caption">
                <h1><strong>Easy Batch</strong></h1>
                <h3>Get rid of boilerplate code and concentrate on your business logic!</h3>
                <br/>
                <button id="learnMore" class="btn btn-lg btn-primary">Learn more</button>
            </div>
        </div>
    </section>
</div>