<div id="highlighted">
    <div class="inner">
        <!--Static Banner-->
        <section class="static-banner container">
            <div class="slide">
                <div class="col-md-7 pull-center"><img src="/easy-batch/img/overview.png" class="img-responsive" /></div>
                <div class="col-md-5 caption">
                    <h1><strong>Easy Batch</strong></h1>
                    <h3>Batch processing with Java made easy!</h3>
                    <br/>
                    <a href="/easy-batch/documentation/architecture.html" class="btn btn-lg btn-primary">Learn more</a>
                    <a href="/easy-batch/tutorials/index.html" class="btn btn-lg btn-primary">Checkout tutorials</a> </div>
            </div>
        </section>
    </div>
</div>