<a href="#content" class="sr-only">Skip to content</a>
<div id="navigation" class="wrapper">
    <div class="navbar-static-top">

        <!--Header & Branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-8">
                        <!--branding/logo-->
                        <a class="navbar-brand" href="../index.html" title="Home">
                            <h1><span>Easy</span>Batch</h1>
                        </a>
                        <div class="slogan">Batch processing with Java made easy</div>
                    </div>
                    <div class="col-md-4">
                        <!--social media icons-->
                        <div class="social-media">
                            <a href="https://github.com/benas/easy-batch" title="View on GitHub" target="_blank"><i class="fa fa-github"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=http://www.easybatch.org/&text=Easy%20Batch:%20batch%20processing%20with%20Java%20made%20easy&via=md_benhassine" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/share?url=http://www.easybatch.org&text=Easy%20Batch:%20batch%20processing%20with%20Java%20made%20easy" title="Share on Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="https://gitter.im/benas/easy-batch" title="Chat on Gitter" target="_blank"><i class="fa fa-comment"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container" data-toggle="clingify">
            <div class="navbar">
                <!--
              mobile collapse menu button
              - data-toggle="toggle" = default BS menu
              - data-toggle="jpanel-menu" = jPanel Menu
              -->
                <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>

                <!--user menu-->
                <div class="user-menu pull-right"> <a href="https://oss.sonatype.org/content/groups/public/org/easybatch/" data-toggle="tooltip" title="Download Easy Batch from Maven central repository" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> version : {{ site.version }}</a> </div>

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">

                    <!--main navigation-->
                    <ul class="nav navbar-nav">
                        <li><a href="../index.html"><i class="fa fa-home fa-lg"></i> Home</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle menu-item" id="features-drop" data-toggle="dropdown"><i class="fa fa-book fa-lg" ></i> Documentation +</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                                <li role="presentation"><a role="menuitem" href="../documentation/getting-started.html" class="menu-item"><i class="fa fa-play fa-lg"></i> Getting started</a></li>
                                <li role="presentation"><a role="menuitem" href="../documentation/architecture.html" tabindex="-1" class="menu-item"><i class="fa fa-flask fa-lg"></i> Architecture</a></li>
                                <li role="presentation"><a role="menuitem" href="../documentation/user-guide.html" tabindex="-1" class="menu-item"><i class="fa fa-book fa-lg"></i> User guide</a></li>
                                <li role="presentation"><a role="menuitem" href="../api/index.html" tabindex="-1" class="menu-item" target="_blank"><i class="fa fa-folder-open fa-lg"></i> API docs</a></li>
                                <li role="presentation"><a role="menuitem" href="../documentation/faq.html" tabindex="-1" class="menu-item"><i class="fa fa-question fa-lg"></i> FAQs</a></li>
                            </ul>
                        </li>
                        <li><a href="../tutorials/index.html" class="menu-item"><i class="fa fa-code fa-lg"></i> Tutorials</a></li>
                        <li class="dropdown"> <a href="" class="dropdown-toggle" id="about-drop" data-toggle="dropdown"><i class="fa fa-thumbs-o-up fa-lg"></i> Get involved +</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                                <li role="presentation"><a role="menuitem" href="https://github.com/benas/easy-batch" target="_blank" tabindex="-1" class="menu-item"><i class="fa fa-github fa-lg"></i> Source repository</a></li>
                                <li role="presentation"><a role="menuitem" href="https://github.com/benas/easy-batch/issues" target="_blank" tabindex="-1" class="menu-item"><i class="fa fa-bug fa-lg"></i> Issue tracker</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</div>