<!--Scripts -->
<script src="/easy-batch/js/jquery.min.js"></script>
<script src="/easy-batch/js/jquery-migrate-1.2.1.min.js"></script> <!--Legacy jQuery support for quicksand plugin-->

<!-- Bootstrap JS -->
<script src="/easy-batch/js/bootstrap.min.js"></script>

<!--JS plugins-->
<script src="/easy-batch/js/plugins/clingify/jquery.clingify.min.js"></script>
<script src="/easy-batch/js/plugins/jRespond/jRespond.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="/easy-batch/js/script.min.js"></script>
<script src="/easy-batch/js/scrolltotop.js"></script>
<script src="/easy-batch/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>