<!-- <div class="inner" data-spy="affix" data-offset-top="40" data-offset-bottom="300"> -->
<div class="inner">
<ul class="list-lg">
    <li class="sidebar-separator">About Easy Batch</li>
    <li {% if page.menu == 'overview' %} class="active" {% endif %}>
        <a href="../index.html">Overview</a>
    </li>
    <li {% if page.menu == 'releaseNotes' %} class="active" {% endif %}>
        <a href="../release-notes.html">Release notes</a>
    </li>
    <li class="sidebar-separator">Documentation</li>
    <li {% if page.menu == 'gettingStarted' %} class="active" {% endif %}>
        <a href="../documentation/getting-started.html">Getting started</a>
    </li>
    <li {% if page.menu == 'architecture' %} class="active" {% endif %}>
        <a href="../documentation/architecture.html">Architecture</a>
    </li>
    <li {% if page.menu == 'userGuide' %} class="active" {% endif %}>
        <a href="../documentation/user-guide.html">User guide</a>
    </li>
    <li {% if page.menu == 'tutorial' %} class="active" {% endif %}>
        <a href="../tutorials/index.html">Tutorials</a>
    </li>
    <li>
        <a href="../api/index.html" target="_blank">API docs</a>
    </li>
    <li {% if page.menu == 'faq' %} class="active" {% endif %}>
        <a href="../documentation/faq.html">FAQs</a>
    </li>
    <li class="sidebar-separator">Get involved</li>
    <li>
        <a href="https://github.com/benas/easy-batch" target="_blank">Source repository</a>
    </li>
    <li>
        <a href="https://github.com/benas/easy-batch/issues" target="_blank">Issue tracker</a>
    </li>
</ul>
</div>