<!-- <div class="inner" data-spy="affix" data-offset-top="40" data-offset-bottom="300"> -->
<div class="inner">
<h4>About Easy Batch</h4>
<ul class="list-lg">
    <li {% if page.menu == 'overview' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../index.html">Overview</a>
    </li>
    <li {% if page.menu == 'releaseNotes' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../releaseNotes.html">Release notes</a>
    </li>
</ul>
<h4>Documentation</h4>
<ul class="list-lg">
    <li {% if page.menu == 'gettingStarted' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../documentation/gettingStarted.html">Getting started</a>
    </li>
    <li {% if page.menu == 'architecture' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../documentation/architecture.html">Architecture</a>
    </li>
    <li {% if page.menu == 'userGuide' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../documentation/userGuide.html">User guide</a>
    </li>
    <li {% if page.menu == 'tutorial' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../tutorials/index.html">Tutorials</a>
    </li>
    <li {% if page.menu == 'faq' %} class="well" {% endif %}>
        <i class="fa fa-fw fa-angle-right"></i> <a href="../documentation/faq.html">FAQs</a>
    </li>
</ul>
<h4>Get involved</h4>
<ul class="list-lg">
    <li><i class="fa fa-fw fa-angle-right"></i> <a href="https://github.com/benas/easy-batch" target="_blank">Source repository</a></li>
    <li><i class="fa fa-fw fa-angle-right"></i> <a href="https://github.com/benas/easy-batch/issues" target="_blank">Issue tracker</a></li>
</ul>
</div>