<!DOCTYPE html>
<html>
<head>
    <title>Job Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .table-fixed {
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>
<body>

<div class="container col-md-8 col-md-offset-2">
    <div class="row">
        <h1 class="text-center">Job Report</h1>
        <br/>
        <h4><span class="label label-info">Name:</span> $name</h4>
        <br/>
    </div>

    <div class="row">
        <h3>Job metrics</h3>
        <div class="col-md-6">
            <table class="table table-bordered table-hover table-condensed table-fixed">
                <tbody>
                <tr>
                    <td>Start Time</td>
                    <td>$startTime</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>$endTime</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>$duration</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><span class="label label-status">$status</span></td>
                </tr>
                <tr>
                    <td>Read count</td>
                    <td><span class="label label-primary read-count" data-total="$readCount">$readCount</span></td>
                </tr>
                <tr>
                    <td>Filter count</td>
                    <td><span class="label label-warning filter-count" data-total="$filterCount">$filterCount</span></td>
                </tr>
                <tr>
                    <td>Error count</td>
                    <td><span class="label label-danger error-count" data-total="$errorCount">$errorCount</span></td>
                </tr>
                <tr>
                    <td>Write count</td>
                    <td><span class="label label-default write-count" data-total="$writeCount">$writeCount</span></td>
                </tr>
                #foreach( $entry in $customMetrics.entrySet() )
                    <tr>
                        <td>$entry.key</td>
                        <td>$entry.value</td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id="chart" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="row">
        <h3>Job parameters</h3>
        <table class="table table-bordered table-striped table-hover table-condensed table-fixed">
            <tbody>
            <tr> <td>Error threshold</td> <td>$errorThreshold</td> </tr>
            <tr> <td>Batch size</td> <td>$batchSize</td> </tr>
            <tr> <td>JMX monitoring</td> <td>$jmx</td> </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>System properties</h3>
        <table class="table table-bordered table-striped table-hover table-condensed table-fixed">
            <tbody>
            #foreach( $entry in $systemProperties.entrySet() )
                <tr>
                    <td>$entry.key</td>
                    <td>$entry.value</td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
    jQuery(document).ready(function () {

        var status = jQuery(".label-status");
        if (status.html() == "COMPLETED") {
            status.addClass("label-success");
        } else {
            status.addClass("label-danger");
        }

        jQuery('#chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true
            },title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y}</b>'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                data: [
                    {
                        name: 'Read count',
                        color: '#337ab7',
                        y: jQuery(".read-count").data("total")
                    },
                    {
                        name: 'Filter count',
                        color: '#f0ad4e',
                        y: jQuery(".filter-count").data("total")
                    },
                    {
                        name: 'Error count',
                        color: '#d9534f',
                        y: jQuery(".error-count").data("total")
                    },
                    {
                        name: 'Write count',
                        color: '#5cb85c',
                        y: jQuery(".write-count").data("total")
                    }
                ]
            }]
        });
    });

</script>
</body>
</html>
