<!DOCTYPE html>
<html>
<head>
    <title>Easy Batch Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .label-skipped{background-color:#E0E1AA}
    </style>
</head>
<body>

<div class="container col-md-8 col-md-offset-2">
    <div class="row">
        <h1 class="text-center">Easy Batch Report</h1>
        <h3>Engine name: $report.engineName</h3>
        <h3>Data source: $report.dataSource</h3>
        #if( $report.limit != 9223372036854775807 )
            <h3>Records limit: $report.limit</h3>
        #end
        <h3>Execution id: $report.executionId</h3>
        <br/>
    </div>

    <div class="row">

        <div class="col-md-6">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td>Start Time</td>
                    <td>$report.formattedStartTime</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>$report.formattedEndTime</td>
                </tr>
                <tr>
                    <td>Batch duration</td>
                    <td>$report.formattedBatchDuration</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><span class="label label-status">$report.status</span></td>
                </tr>
                <tr>
                    <td>Total records</td>
                    <td>$report.totalRecords</td>
                </tr>
                <tr>
                    <td>Record processing time average</td>
                    <td>$report.formattedAverageRecordProcessingTime</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td>Skipped records</td>
                    <td><span class="label label-skipped skipped-records" data-total="$report.skippedRecordsCount">$report.formattedSkippedRecords</span></td>
                </tr>
                <tr>
                    <td>Filtered records</td>
                    <td><span class="label label-default filtered-records" data-total="$report.filteredRecordsCount">$report.formattedFilteredRecords</span></td>
                </tr>
                <tr>
                    <td>Ignored records</td>
                    <td><span class="label label-info ignored-records" data-total="$report.ignoredRecordsCount">$report.formattedIgnoredRecords</span></td>
                </tr>
                <tr>
                    <td>Rejected records</td>
                    <td><span class="label label-warning rejected-records" data-total="$report.rejectedRecordsCount">$report.formattedRejectedRecords</span></td>
                </tr>
                <tr>
                    <td>Error records</td>
                    <td><span class="label label-danger error-records" data-total="$report.errorRecordsCount">$report.formattedErrorRecords</span></td>
                </tr>
                <tr>
                    <td>Success records</td>
                    <td><span class="label label-success success-records" data-total="$report.successRecordsCount">$report.formattedSuccessRecords</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>

    <div class="row">
        <h3>System properties</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tbody>
            #foreach( $entry in $properties )
            <tr>
                <td>$entry.key</td>
                <td>$entry.value</td>
            </tr>
            #end
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
    jQuery(document).ready(function () {

        var status = jQuery(".label-status");
        if (status.html() == "FINISHED") {
            status.addClass("label-success");
        } else {
            status.addClass("label-danger");
        }

        jQuery('#chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true
            },title: {
                text: 'Records statistics'
            },
            tooltip: {
                pointFormat: '<b>{point.y}</b>'
            },
            legend: {
                labelFormatter: function() {
                    return this.name + ' (' + this.y + ')';
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                data: [
                    {
                        name: 'Skipped',
                        color: '#E0E1AA',
                        y: jQuery(".skipped-records").data("total")
                    },
                    {
                        name: 'Filtered',
                        color: '#999999',
                        y: jQuery(".filtered-records").data("total")
                    },
                    {
                        name: 'Ignored',
                        color: '#5BC0DE',
                        y: jQuery(".ignored-records").data("total")
                    },
                    {
                        name: 'Rejected',
                        color: '#F0AD4E',
                        y: jQuery(".rejected-records").data("total")
                    },
                    {
                        name: 'Errors',
                        color: '#D9534F',
                        y: jQuery(".error-records").data("total")
                    },
                    {
                        name: 'Success',
                        color: '#5CB85C',
                        y: jQuery(".success-records").data("total")
                    }
                ]
            }]
        });
    });

</script>
</body>
</html>
