/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
  /* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
pre {
    border: none;
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

code {
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    padding: 0;
    color: #000000;
}

/*.caption{
    margin-top: 5px;
    padding: 0;
    text-align: center;
    border: 1px;
    font-family: "Courier New", Courier, monospace;
}*/

.ebi {
    max-width: 100%;
    height: auto;
}

.ebi-small {
    max-width: 60%;
    height: auto;
}

.logo {
    background: none !important;
    border: none !important;
}

ul.list-lg li {
    border: 1px solid #eee;
    margin-bottom: -1px;

}

ul.list-lg li.sidebar-separator {
    border: 1px solid #f5f5f5;
    margin-bottom: -1px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    font-weight: bold;
}

ul.list-lg li.sidebar-separator:hover {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    margin-bottom: -1px;
    cursor: default;
}

ul.list-lg >li:first-child {
    border: 1px solid #eee;
    margin-bottom: -1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul.list-lg >li:last-child {
    border: 1px solid #eee;
    margin-bottom: -1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.list-lg li.active {
    border-left-width: 4px;
    border-color: #00adbb;
    margin-bottom: 0;
}

ul.list-lg li.active a {
    pointer-events: none;
    cursor: default;
}

ul.list-lg li:hover {
    background:transparent;
    border: 1px solid #00adbb;
    border-left-width: 4px;
    margin-bottom: 0;
}

ul.list-lg li:hover a {
    text-decoration: none;
    text-decoration-color: #00adbb;
    text-emphasis-color: #00adbb;
}

.affix {

}

.affix-top {
    top: 40px;
    position: relative;
}

.affix-bottom {
    bottom: 300px;
    position: relative;

}

.floatright,.right { float: right }

.back-top-wrapper { width: 100%; position: absolute; overflow: hidden; height: 50px; display: block; }
.back-top { bottom: 55px; right: 20px; margin-bottom: 0; display: block; position: fixed; display: scroll; display: none; }
.back-top a { width: 50px; nowhitespace: afterproperty; height: 50px; display: block; text-align: center; text-transform: uppercase; text-decoration: none; background: #00adbb url(../img/misc/up-arrow.png) no-repeat center center; border-radius: 5px; /* transition */ -webkit-transition: 1s;-moz-transition:1s;transition:1s; ; }
.back-top a:hover { background-color: #00adbb } /* arrow icon (span tag) */
.back-top span { width: 50px; nowhitespace: afterproperty; height: 50px; display: block; border-radius: 10px; /* transition */ -webkit-transition: 1s;-moz-transition:1s;transition:1s; ; }


/* callout styles */
.bs-callout {
    padding: 12px;
    margin: 0 0 12px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    background-color: #FFF4F4;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    background-color: #FFFAF2;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #00ADBB;
}
.bs-callout-info h5 {
    color: #00ADBB;
}

.bs-callout-code {
    border-left-color: #00ADBB;
    background-color: #FAFAFA;
}
.bs-callout-code h5 {
    color: #00ADBB;
}
