<!DOCTYPE html>
<html>
<head>
    <title>Easy Batch Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td>Start Time</td>
                    <td>$report.formattedStartTime</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>$report.formattedEndTime</td>
                </tr>
                <tr>
                    <td>Batch duration</td>
                    <td>$report.formattedBatchDuration</td>
                <tr>
                    <td>Total records</td>
                    <td>$report.totalRecords</td>
                </tr>
                <tr>
                    <td>Record processing average time</td>
                    <td>$report.formattedAverageRecordProcessingTime</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td>Filtered records</td>
                    <td><span class="label label-default">$report.formattedFilteredRecords</span></td>
                </tr>
                <tr>
                    <td>Ignored records</td>
                    <td><span class="label label-info">$report.formattedIgnoredRecords</span></td>
                </tr>
                <tr>
                    <td>Rejected records</td>
                    <td><span class="label label-warning">$report.formattedRejectedRecords</span></td>
                </tr>
                <tr>
                    <td>Error records</td>
                    <td><span class="label label-danger">$report.formattedErrorRecords</span></td>
                </tr>
                <tr>
                    <td>Processed records</td>
                    <td><span class="label label-success">$report.formattedProcessedRecords</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
    jQuery(document).ready(function () {

        jQuery('#chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true
            },title: {
                text: 'Records statistics'
            },
            tooltip: {
                pointFormat: '<b>{point.y}%</b>'
            },
            legend: {
                labelFormatter: function() {
                    return this.name + ' (' + this.y + '%)';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                data: [
                    {
                        name: 'Filtered',
                        color: '#999999',
                        y: $report.filteredRecordsPercent
                    },
                    {
                        name: 'Ignored',
                        color: '#5BC0DE',
                        y: $report.ignoredRecordsPercent
                    },
                    {
                        name: 'Rejected',
                        color: '#F0AD4E',
                        y: $report.rejectedRecordsPercent
                    },
                    {
                        name: 'Errors',
                        color: '#D9534F',
                        y: $report.errorRecordsPercent
                    },
                    {
                        name: 'Processed',
                        color: '#5CB85C',
                        y: $report.processedRecordsPercent
                    }
                ]
            }]
        });
    });

</script>
</body>
</html>
