<h2 id="3">3. Filtering records</h2>

<p>With Easy Batch, you can filter records through the <code>RecordFilter</code> API. This interface allows you to skip records from being processed if they obey to some criteria.</p>
<p>A typical example is to filter comment records (that begin with # for example) in a flat file.</p>
<p>To register a record filter within Easy Batch, you can use the following snippet:</p>

<pre><code class="java">EasyBatchEngine easyBatchEngine = new EasyBatchEngineBuilder()
    .registerRecordFilter(new myRecordFilter())
    .build();</code></pre>

<p>Easy Batch comes with built-in implementations of commonly used record filters :</p>
<ul>
    <li><code>StartsWithStringRecordFilter</code> : filters a string record if it starts with one of the given prefixes. You can also set the constructor parameter <code>negate</code> to true to inverse this behavior.</li>
    <li><code>EndsWithStringRecordFilter</code> : filters a string record if it ends with one of the given suffixes. You can also set the constructor parameter <code>negate</code> to true to inverse this behavior.</li>
    <li><code>RecordNumberEqualsToRecordFilter</code> : filters a record if its number is equal to one of the given numbers. You can also set the constructor parameter <code>negate</code> to true to inverse this behavior.</li>
    <li><code>RecordNumberGreaterThanRecordFilter</code> : filters a record if its number is greater than a given number</li>
    <li><code>RecordNumberLowerThanRecordFilter</code> : filters a record if its number is lower than a given number</li>
    <li><code>RecordNumberInsideRangeRecordFilter</code> : filters a record if its number is inside a given number range</li>
    <li><code>RecordNumberOutsideRangeRecordFilter</code> : filters a record if its number is outside a given number range</li>
</ul>

<p><span class="label label-info">Heads up!</span> By default, Easy Batch registers a NoOp record filter that does not filter any input record.</p>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#reading" data-toggle="tab"><span aria-hidden="true">&larr;</span> Reading data</a></li>
        <li class="next"><a href="#mapping" data-toggle="tab">Mapping data to domain objects <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>