<h2 id="1">1. Easy Batch engine</h2>

<h3 id="1.1">1.1 Creating a batch engine</h3>

<p>Creating a batch engine is straightforward and can be done through the <code>EngineBuilder</code> API:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder().build();</code></pre>
</div>

<p>The engine builder API is the main entry point to configure and create batch engine instances.</p>

<h3 id="1.2">1.2 Running the batch engine</h3>

<p>Once you have created a batch engine instance, you can run it simply as follows:</p>

<div class="bs-callout bs-callout-code">
    <pre><code class="java">engine.call();</code></pre>
</div>

<h3 id="1.3">1.2 Enabling strict mode</h3>

<p>Easy Batch strict mode is a parameter that allows you to abort execution on first error (mapping, validating or processing exception).
    To enable strict mode, you can use the following snippet:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder()
    <strong>.enableStrictMode(true)</strong>
    .build();</code></pre>
</div>

<p>Strict mode is disabled by default.</p>

<h2>2. The <em>Record</em> abstraction</h2>

<p>Easy Batch streams data record by record from the data source.
    Depending on the data source type, a record can be a line in a flat file, an tag in an Xml file, a record in a database table, a message in a queue, an object in a list, a file in a folder, etc.</p>

        <p>The <code><em>Record</em></code> interface is an abstraction of records as seen by Easy Batch:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">public interface Record&lt;P&gt; {

    /**
    * Return the physical record number in the data source.
    * @return the record's physical number in the input data source.
    */
    int getNumber();

    /**
    * Return the payload of the record.
    * @return the record's payload.
    */
    P getPayload();

}</code></pre>
</div>

<p>There are several implementations of the <code><em>Record</em></code> interface provided by Easy Batch to represent different type of records:</p>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="pull-center"><img class="ebi" src="../img/eb/record-uml.jpg"/></p>
    </div>
</div>

<p>Note that the record payload can be of any type, so that a record can represent any type of input data (textual or not).</p>

<nav>
    <ul class="pager">
        <li class="next"><a href="#reading" data-toggle="tab"> Reading data <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
