<h2 id="6">6. Processing records</h2>

<p>Easy Batch lets you define your batch processing business logic through the <code><em>RecordProcessor</em></code> interface.
    This is where you implement what to do for each record.</p>

<p>Once the pre processing phase (filtering, parsing, mapping and validating records) is finished, input records enter the processing pipeline:</p>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="pull-center"><img class="ebi" src="../img/eb/pipeline.jpg"/></p>
    </div>
</div>

<p>Records are submitted to a chain of processors. Record type can change from one processor to another.</p>

        <p>you can define as much processors as you want in the pipeline:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder()
    <strong>.processor(myRecordProcessor1)</strong>
    <strong>.processor(myRecordProcessor2)</strong>
    .build();</code></pre>
</div>

<p>Easy Batch will call these processors in the order in which they are registered.</p>

        <p>You can also do some computation on input records that will be returned at the end of execution.
        This is the role of <code><em>ComputationalRecordProcessor</em></code> API, that is, do some computation on inputs records.</p>

        <p>Unlike <code><em>RecordProcessor</em></code>s that are used for <strong>intermediate</strong> operations,
            a <code><em>ComputationalRecordProcessor</em></code> is used for <strong>terminal</strong> operations, like aggregating results for instance.
            Hence, it should be placed <strong>at the end</strong> of the pipeline. Easy Batch will call its <code><em>getComputationResult</em></code>
        method to get the computation result at the end of execution. You can obtain this result from the execution report as follows:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder()
    <strong>.processor(myComputationalRecordProcessor)</strong>
    .build();

Report report = engine.call();

<strong>MyResultType myResult = report.getBatchResult();</strong></code></pre>
</div>

<div class="bs-callout bs-callout-warning">
    <h5><i class="fa fa-info-circle"></i> Heads up!</h5>
    <p>Registering a record processor is <strong>optional</strong>. By default, Easy Batch registers a NoOp record processor that returns the record as is without any processing logic.</p>
</div>
