<h2 id="5">5. Validating records</h2>

<p>Validating input data is an essential step in every batch application. With Easy Batch, you can validate records by registering a <code>RecordValidator</code> implementation as follows:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder()
    <strong>.validator(new myRecordValidator())</strong>
    .build();</code></pre>
</div>

<p>Easy Batch comes with a built-in implementation of the <code>RecordValidator</code> interface using the <a href="http://jcp.org/en/jsr/detail?id=303" target="_blank">Bean Validation API (JSR 303)</a> reference implementation which is <a href="http://hibernate.org/validator/" target="_blank">Hibernate validator</a>.</p>

<p>In order to use the built-in <code><em>BeanValidationRecordValidator</em></code>, you should proceed as follows:

        <h4>5.1 Add maven dependency</h4>
    <p>Add the <code>easybatch-validation</code> module to your dependencies:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.easybatch&lt;/groupId&gt;
    &lt;artifactId&gt;easybatch-validation&lt;/artifactId&gt;
    &lt;version&gt;{{ site.version }}&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>

        <h4>5.2 declare validation constraints</h4>

    <p>In order to use the Bean Validation API with Easy Batch, you should annotate your domain object with Bean Validation API annotations.</p>

        <h4>5.3 Register the validator</h4>

    <p>Finally, register the <code>BeanValidationRecordValidator</code> using the <code><em>EngineBuilder</em></code> API:</p>

<div class="bs-callout bs-callout-code">
<pre><code class="java">Engine engine = new EngineBuilder()
    .validator(new BeanValidationRecordValidator&lt;YourPojoType&gt;())
    .build();</code></pre>
</div>

        <p>Easy Batch will then apply validation logic that you declared using annotations for each input record during the process.</p>

<div class="bs-callout bs-callout-warning">
    <h5><i class="fa fa-info-circle"></i> Heads up!</h5>
    <p>Registering a record validator is <strong>optional</strong>. By default, Easy Batch registers a NoOp record validator that does not apply any validation logic on input records.</p>
</div>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#mapping" data-toggle="tab"><span aria-hidden="true">&larr;</span> Mapping data to domain objects</a></li>
        <li class="next"><a href="#processing" data-toggle="tab">Processing data <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>